<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/styles.css' />
  </head>
  <body>
    <section id='container' class='container'>
    </section>
    <script type='text/javascript'>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js').then(function(){
            console.log('service worker registered');
          }).catch(function() {
            console.log('error restering service worker');
          });
        }); 
      }
    </script>
    <script src='/dist/index.js' type='text/javascript'></script>
  </body>
</html>
